/* Importing Google Font - Open Sans  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');




*{
    font-family: "Open Sans",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color variables for light theme  */
:root {
    --white-color: #fff; 
    --black-color: #000;
    --light-white-color: #f0f0f0;
    --light-gray-color: #e5e5e5;
    --border-color : #d4d4d4;
    --primary-color : #3b82f6;
    --secondary-color : #404040;
    --overlay-dark-color: rgba(0,0,0,0.6);
}

/* Reverse color when dark mode  */
body.dark-mode{
    --white-color: #171717;
    --black-color: #d4d4d4;
    --light-white-color: #333;
    --light-gray-color: #404040;
    --border-color : #737373;
    --secondary-color : #d4d4d4;
}

body{
    background: var(--white-color);
}

/* Start of Navbar Section  */
.nav-button{
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background: none;
}
.nav-button:hover{
    background-color: var(--light-gray-color);
}

.container .nav-button i{
    color: var(--black-color);
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

header , .category-list{
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--white-color);
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    gap: 2rem;
}

.container :where(.nav-section, .search-form, .nav-logo){
    display: flex;
    align-items: center;
}

.container .nav-section{
    gap: 1rem;
}

.container :where(.logo-image, .user-image){
    width: 32px;
    cursor: pointer;
    border-radius: 50%;
}

.container .nav-logo {
    display: flex;
    gap: 0.5rem;
    text-decoration: none;
}

.logo-text {
    font-size: 1.25rem;
    color: var(--black-color);
}

.container .nav-center {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    justify-content: center;
}

.container .search-form{
    max-width: 550px;
    flex: 1;
    height: 40px;
}

.search-form .search-input{
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    border: 1px solid var(--border-color);
    outline: none;
    font-size: 1rem;
    border-radius: 3.1rem 0 0 3.1rem;
    color: var(--black-color);
    background: var(--white-color);
}

.search-form .search-input:focus{
    border-color: var(--primary-color);
}

.nav-center .search-button{
    padding: .5rem 1rem;
    width: auto;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 0 3.1rem 3.1rem 0;
}

.navbar .nav-right .search-button{
    display: none;
}
/* End of Navbar Section  */


/* Start of Categories Section   */

.main-layout{
    display: flex;
    /* ***  */
    overflow-y: auto;
}

.main-layout .sidebar{
    width: 280px;
    background: var(--white-color);
    padding: 0 0.7rem;
}


/* *** SideBar */

/* ***note  */
body.sidebar-hidden .main-layout .sidebar {
    width: 0;
    padding: 0;
}

.main-layout .sidebar .nav-left{
    display: none;
    padding: 0.5rem 0.3rem;
}

.sidebar .link-container{
    overflow-y: auto;
    padding: 1rem 0 2rem;
    scrollbar-width: thin; /* note*/
    height: calc(100vh - 60px);

    /* note  */
    scrollbar-color: transparent transparent;
}
.sidebar .link-container:hover{
    scrollbar-color: #a6a6a6 #a6a6a6;
}


.sidebar .link-section .link-item{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    white-space: nowrap;
    padding : 0.37rem 0.75rem;
    margin-bottom: 0.25rem;
    color: var(--black-color);
    border-radius: 0.5rem;
    text-decoration: none;
}

.sidebar .link-section .link-item:hover{
    background: var(--light-gray-color);
}

.sidebar .link-section .link-item i{
    font-size: 1.4rem;
    margin-right: 0.63rem;
}

.sidebar .link-section .section-title{
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--black-color);
    margin: 1rem 0 0.5rem 0.5rem;
}

.sidebar .section-separator{
    height: 1px;
    margin: 0.625rem 0;
    background: var(--light-gray-color);
}

.main-layout .content-wrapper {
    padding: 0 1rem;
    overflow-x: hidden;
    width: 100%;
}

.content-wrapper .category-list{
    display: flex;
    gap: .75rem;
    padding: .75rem 0 .75rem;
    overflow-x: auto;
    scrollbar-width: none;
}

.category-list .category-button {
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.4rem 0.75rem;
    border-radius: 0.5rem;
    background: var(--light-gray-color);
    white-space: nowrap;
    color: var(--black-color);
}

.category-button:hover{
    background: var(--border-color);
}

.category-button.active{
    color: var(--white-color);
    background: var(--black-color);
    pointer-events: none;
}

/* ****  */
.video-list {
    display: grid;
    padding: 1.25rem 0 4rem;
    gap: 1rem;
    grid-template-columns:repeat(auto-fill,minmax(240px,1fr)) ;
}

.video-list .video-card{
    text-decoration: none;
}

.video-list .video-card .video-info{
    display: flex;
    gap: .7rem;
    padding: .7rem .5rem;
}

.video-list .video-card .thumbnail-container{
    position: relative;
}

.video-list .video-card .thumbnail{
    width: 100%;
    border-radius: 0.5rem;
    aspect-ratio: 16/9;
}
.video-list .video-card .duration{
    position: absolute;
    right: 0.65rem;
    bottom: .8rem;
    color: #fff;
    font-size: 0.8rem;
    padding: 0 0.3rem;
    border-radius: 0.3rem;
    background: var(--overlay-dark-color);
}

.video-list .video-card .icon{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.video-list .video-card .title{
    font-size: 1rem;
    font-weight: 600;
    color: var(--black-color);

    /* ***  */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.video-list .video-card .title:hover{
    color: var(--primary-color);
}

.video-list .video-card p{
    font-size: 0.875rem;
    color: var(--secondary-color);
}

.video-list .video-card .channel-name{
    margin: 0.25rem 0 0.15rem;
}


/* Responsive media query code  */
@media (max-width: 768px) {

    .navbar .nav-center{
        display: none;
    }

    .navbar .nav-right .search-button{
        display: block;
    }

    /* *** note  */
    .main-layout .screen-overlay{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 15;
        background: var(--overlay-dark-color);
        transition: 0.2s ease;
    }

    /* *** note  */
    body.sidebar-hidden .main-layout .screen-overlay{
        opacity: 0;
        pointer-events: none;
    }

    .main-layout .sidebar{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 20;
        height: 100vh;
        transition: 0.2s ease;
    }

    body.sidebar-hidden .main-layout .sidebar{
        left: -280px;
    }

    /* ***note  */
    .main-layout .sidebar .nav-left{
        display: flex;
    }
}